<div class="container">
<h4>What you want to search?</h4>
    <form class="form-control" (submit)="getSearch()">
    <div>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="query" name="query">
        <button class="btn btn-outline-success my-2 my-sm-6" type="submit">Search</button>
    </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="soundex" name="soundex"> Soundex
            </label>
        </div>

    </form>
    <div  *ngIf="!buttonDisabled" class="alert alert-warning" role="alert">
        invalid query
    </div>
</div>




  <div class="container" *ngFor="let document of documents" routerLink="/text/{{document.id}}">
    <ul class="list-inline">
        <li class="list-inline-item"><h4>{{document.name}}</h4></li>
        <li class="list-inline-item">{{document.author}}</li>
        <li class="list-inline-item">{{document.date}}</li>
    </ul>
    <p>{{document.summary}}</p>
  </div>
