<div class="container">
    <h5>Help</h5>
    <ul class="list-group">
      <li class="list-group-item">1. To search a term, click on Search Button on the menu</li>
      <li class="list-group-item">2. Write in the text box the word we want to search, you can use AND, OR, NOT with a few words. Make sure you have space between the brackets and operators </li>
      <li class="list-group-item">3. You can click checkbox if you want to search using Soundex.</li>
      <li class="list-group-item">4. The results will appear below the search box with title, date, and text summary.</li>
      <li class="list-group-item">5. Click on one of the results to see the full of text.</li>
    </ul>
</div>